html{
    background-color: #5f45bb;
    background-image: linear-gradient(to bottom right, #180cac, #d054e4);
    color:#fff;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
    text-shadow: 0 3px 5px rgba(0,0,0,.1);
}
a{
    color:currentColor;
    cursor: pointer;
    text-decoration: none;
}
/* Common CSS */
.wallpaper{
    /* display: block; */
    height:100%;
    left:0;
    top:0;
    width:100%
}
/* Specific CSS */
.wallpaper{
    background-image: url("../images/austria.jpg");
    background-position: center;
    background-size: cover;
    opacity:.2;
    position:fixed;
}