<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="compile.js"></script>
    <title>Document</title>
</head>
<body ng-app="app">
    <div ng-controller="msg">
        <!-- <div style="border:1px solid #C0C0C0" message text="{{i}}" ng-repeat="i in [1,2,3,4,5]"> -->
        <div message text="{{i}}" ng-repeat="i in [1,2,3,4,5]">

            {{i}}
        </div>
        <!-- <div message text="first">
            <div message text="..second">
                <div message text="...third">
                </div>
            </div>
        </div> -->
    </div>
</body>
</html>

