<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="watcher.js"></script>
    <title>Document</title>
</head>
<body ng-app="app">
    <div ng-controller="emp">
        <!-- a = <input ng-model="a" ng-change="updateC()"> -->
        <!-- a = <input ng-model="a"> -->
        <!-- <div>a = {{a}}</div> -->
        <!-- b = <input ng-model="b"> -->
        <!-- <div>c = {{c}}</div> -->


        <!-- a = <input ng-model="o.a"> -->
        <!-- <div>a = {{a}}</div> -->
        <!-- b = <input ng-model="o.b"> -->
        <!-- <div>c = {{o.c}}</div> -->
        <div ng-repeat="o in emps">
            <div>{{o.empno}} - {{o.ename}}</div>
        </div>
        <button ng-click='addEmp()'>add</button>
        <button ng-click='modify3rdEmp()'>modify 3rd Employee</button>
    </div>
</body>
</html>